@font-face {
    font-family: 'Roboto';
    src:  url('./RobotoMono-Medium.ttf') format('truetype')
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #e7e7e7;
    font: 14px 'Roboto';
}
.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.search {
    text-align: center;
    margin: 20px auto;
    background: #333;
    width: 90%;
    padding: 30px;
}
.search h2 {
    color: #fff;
}
.search select{
    width: 100%;
    text-align: center;
    height: 40px;
    margin: 10px auto;
    padding: 10px;
}
.boxs {
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;   
}
.boxs div {
    margin: 5px;
}
.shodow {
    box-shadow: gray 2px 2px 5px;
}
.country-detail {
    width: 30%;
    height: auto;
    background: #333;
} 
.country-detail h2, .call-code h2 ,.weather h2{
    color: aliceblue;
    display: block;
    background: black;
    padding: 10px;
    text-align: center;
}

.country-detail p , .weather p{
    margin: 10px;
    line-height: 2em;
    color: orange;
}
.country-detail p span {
    color: #fff;
}
.call-code {
    width: 30%;
    height: auto;
    background: orange;
}
.call-code h1 {
    text-align: center;
    font-size: 120pt;
    margin: 20px 0;
    font-weight: 100;
}
.flag {
    width: 30%;
    padding: 10px;
    height: auto;
    background: rgb(143, 119, 119);
}
.flag img {
    width: 100%;
}
.weather {
    width: 45.3%;
    height: auto;
    background: #fff;
}
.weather p {
   color: #333;
}

.weather p span {
   color: orange;
}
.weather .weather_status {
    display: block;
    margin: 0 auto;
    width: 20%;
}
.weather p img {
    width: 2.5%;
}
#map {
    width: 45.3%;
    height: auto;
}

@media only screen and (max-width: 900px) {
    .country-detail {
        width: 45% !important;
    }
    .call-code {
        width: 45% !important;
    }
    .flag {
        width: 91.5% !important;
    }
}

@media only screen and (max-width: 760px) {
    .country-detail {
        width: 90% !important;
    }
    .call-code {
        width: 90% !important;
    }
    .flag {
        width: 90% !important;
    }
    #map{
        width: 90% !important;
        height: 250px !important;

    }
    .weather {
        width: 90% !important;
    }
    .boxs div {
        margin: 5px 0 !important;
    }

}