* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font: 16px sans-serif;
}
#app {
    background: #536DFE;
}
.container {
    height: auto;
    padding: 50px 0;
}
.search {
    padding: 0 0 50px 0;
    text-align: center;
}
.search h2 {
    color: #fff;
    font-weight: lighter;
}
.search select {
    padding: 5px 10px;
    width: 100%;
    margin-top: 10px;
}
section {
    width: 100%;
    padding: 50px;
    border-radius: 10px;
    background-color:rgb(255, 255, 255, .4);
    box-shadow: 0 10px 40px #333;
}
/******************/
.boxs .details {
    height: auto;
    background: #333;
    
}
.boxs .details h3 {
    color: #fff;
    width: 100%;
    height: 50px;
    padding: 10px;
}
.boxs .details p {
    padding: 0 10px;
    color: #fff;
    line-height: 2em;
    border-bottom: 1px solid rgba(0, 0 ,255, .1);
}
.boxs .details p span {
    color:#CDDC39;
}
.boxs .call-code {
    height: 200px;
    background: #333;
}
.boxs .call-code h2 {
    width: 100%;
    height: 50px;
    color: #fff;
    text-align: center;
    padding: 10px;

}
.boxs .call-code h1 {
    font-weight: 100;
    text-align: center;
    font-size: 80px;
    color: #fff;
}
.boxs .flag {
    height: 230px;
    background: rgb(165, 198, 211);
}
.boxs .flag img {
    width: 100%;
    height: 100%;
}
.boxs .weather {
    height: 300px;
    padding-bottom: 10px;
    background: #fff;
}
.boxs .weather p {
    line-height: 1.5em;
    margin:0 10px 0 5px;
    padding: 5px 0 0 10px;
}
.boxs .weather span {
    color: #43A047;
}
.boxs .weather h2 {
    width: 100%;
    height: 50px;
    color: #333;
    text-align: center;
    padding: 10px;
}
.boxs .weather img {
    display: block;
    width: 100px;
    margin: 0 auto;
}
.boxs #map {

    height: 300px
}

.col-lg-4 {
    border: 1px solid rgb(255, 255, 255, .4);
}
@media screen and (min-width: 300px) and (max-width: 991px) {
    .col-md-12 {
        border: 1px solid rgb(255, 255, 255, .4);
        margin-bottom: 5px !important;
    }
    .boxs .flag {
        height: 400px;
    }
}   
